<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,600,900|Lato:100,200,300,600,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,600,800" rel="stylesheet">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/three.min.js"></script>
    <script src="/scripts/velocity.min.js"></script>
    <script src="/scripts/typed.min.js"></script>
    <!--<script src="/scripts/audioLoader.js"></script>-->
    <script src="/scripts/CanvasRenderer.js"></script>
    <script src="/scripts/Projector.js"></script>
    <script src="/scripts/square2.js"></script>
    <script src="/scripts/app.js"></script>
  </head>
  <body>
  <div id="page-wrapper">
    <!--<div id="header">-->
    <div id="project-container">
      <button id="projects-button">PROJECTS</button>
          <div id="show-projects">
                <div class="project-box">
                    <img class="project-image" src="/images/color-theory2.png" alt="color theory">
                    </img>
                  <!--https://soniaboller.github.io/color-theory/-->
                </div>
                <div class="project-box">
                    <img class="project-image" src="/images/cameraless-concerts2.png" alt="cameraless concerts">
                    </img>
                </div>
                <div class="project-box">
                     <img class="project-image" src="/images/audio-viz2.png" alt="audio viz">
                    </img>
                </div>
                <div class="project-box">
                    <img class="project-image" src="/images/beer-crawl2.png" alt="beer crawl">
                    </img>
                </div>
          </div>
    </div>
    <div id="about-container">
    <button id="about-button">ABOUT</button>
          <div id="show-about">
            <div class="about-box" id="name">SONIA BOLLER</div>
            <div class="about-box" id="information"> WEB DEVELOPER </div>
            <div class="about-box" id="brand-statement"> BLENDING FUNCTION AND DESIGN YADA YADA YADA BRAND STATEMENT</div>
            <div class="about-box" id="skills">
              AVID FAN OF:
              <span id="skills-list"></span>
            </div>
              <section id="social-media">
                  <ul>
                      <li>
                          <a id="instagram"></a>
                          <!--<a href="https://www.instagram.com/sboller/" target="_blank"><img class="social-icon" src="/images/social-media/instagram.png" alt="instagram"></a>-->
                      </li>
                      <li >
                          <a id="github"></a>
                          <!--<a href="https://github.com/soniaboller" target="_blank"><img class="social-icon" src="/images/social-media/github.png"></a>-->
                      </li>
                      <li >
                          <a id="linkedin"></a>
                          <!--<a href="https://www.linkedin.com/in/sboller" target="_blank"><img class="social-icon" src="/images/social-media/linkedin.png"></a>-->
                      </li>
                      <li >
                          <a id="facebook"></a>
                          <!--<a href="https://www.facebook.com/profile.php?id=641476933" target="_blank"><img class="social-icon" src="/images/social-media/facebook.png" alt="facebook"></a>-->
                      </li>
                  </ul>
              </section>
            <!--<div class="about-box" id="interests">-->
              <!--ALSO INTO: -->
              <!--<span id="interests-list"></span>-->
            <!--</div>-->
          </div>
    </div>
    <audio src="/media/thedeep.mp3"></audio>
    <!--<script src="/scripts/build.js"></script>-->
  <!--</div>-->
  <div id="modal">

  </div>
  </div>
  </body>
</html>
