<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Lato:100" rel="stylesheet">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/three.min.js"></script>
    <script src="/scripts/velocity.min.js"></script>
    <script src="/scripts/typed.min.js"></script>
    <!--<script src="/scripts/audioLoader.js"></script>-->
    <script src="/scripts/CanvasRenderer.js"></script>
    <script src="/scripts/Projector.js"></script>
    <script src="/scripts/square2.js"></script>
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <!--<div id="header">-->
    <div id="project-container">
      <button id="projects-button">PROJECTS</button>
          <div id="showProjects">
                <div class="project-box">
                    <img class="project-image" src="/images/color-theory2.png" alt="color theory">
                        <!--<p class="hideText">COLOR-THEORY <br>-->
                            <!--<a href="https://soniaboller.github.io/color-theory/">github</a>-->
                        <!--</p>-->
                    </img>
                  <!--https://soniaboller.github.io/color-theory/-->
                </div>
                <div class="project-box">
                    <img class="project-image" src="/images/cameraless-concerts2.png" alt="cameraless concerts">
                        <!--<p class="hideText"> CAMERALESS-CONCERTS<br>-->
                            <!--<a href="https://soniaboller.github.io/color-theory/">github</a>-->
                        <!--</p>-->
                    </img>
                </div>
                <div class="project-box">
                     <img class="project-image" src="/images/audio-viz2.png" alt="audio viz">
                        <!--<p class="hideText"> AUDIO-VIZ <br>-->
                            <!--<a href="https://soniaboller.github.io/color-theory/">github</a>-->
                        <!--</p>-->
                    </img>
                </div>
                <div class="project-box">
                    <img class="project-image" src="/images/beer-crawl2.png" alt="beer crawl">
                    <!--<p class="hideText"> BEER-CRAWL <br>-->
                        <!--<a href="https://soniaboller.github.io/color-theory/">github</a>-->
                    <!--</p>-->
                    </img>
                </div>
          </div>
    </div>
    <div id="about-container">
    <button id="about-button">ABOUT</button>
          <div id="showAbout">
            <div id="name"></div>
            <div id="information"></div>
            <div id="interests">
              I'm also into:
              <span id="interests-list"></span>
            </div>
          </div>
    </div>
    <!--</div>-->
    <audio src="/media/thedeep.mp3"></audio>
    <!--<script src="/scripts/build.js"></script>-->
  </body>
</html>
