<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,600,900|Lato:100,200,300,600,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,600,800" rel="stylesheet">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/three.min.js"></script>
    <script src="/scripts/velocity.min.js"></script>
    <script src="/scripts/typed.min.js"></script>
    <!--<script src="/scripts/audioLoader.js"></script>-->
    <script src="/scripts/CanvasRenderer.js"></script>
    <script src="/scripts/Projector.js"></script>
    <script src="/scripts/square.js"></script>
    <script src="/scripts/app.js"></script>
  </head>
  <body>
  <div id="page-wrapper">
    <!--<div id="header">-->
    <div id="project-container">
      <button id="projects-button">PROJECTS</button>
          <div id="show-projects">
                <div class="project-box">
                    <img class="project-image" src="/images/projects/color-theory.png" alt="COLOR THEORY">
                    </img>
                </div>
                <div class="project-box">
                    <img class="project-image" src="/images/projects/cameraless-concerts.png" alt="CAMERALESS CONCERTS">
                    </img>
                </div>
                <div class="project-box">
                     <img class="project-image" src="/images/projects/audio-viz.png" alt="AUDIO VIZ">
                    </img>
                </div>
                <div class="project-box">
                    <img class="project-image" src="/images/projects/beer-crawl.png" alt="BEER CRAWL">
                    </img>
                </div>
          </div>
    </div>
    <div id="about-container">
    <button id="about-button">ABOUT</button>
          <div id="show-about">
            <div class="about-box" id="name">SONIA BOLLER</div>
            <div class="about-box" id="information"> WEB DEVELOPER </div>
            <div class="about-box" id="brand-statement"> BLENDING FUNCTION AND DESIGN YADA YADA YADA BRAND STATEMENT</div>
            <section class="about-box" id="social-media">
                  <ul>
                      <li>
                          <a href="https://github.com/soniaboller" target="_blank">
                              <img id="github" alt="github"/>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/in/sboller" target="_blank">
                              <img id="linkedin" alt="linkedin"/>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.instagram.com/sboller/" target="_blank">
                              <img id="instagram" alt="instagram"/>
                          </a>
                      </li>
                      <li>
                          <a href="mailto:soniaboller@gmail.com">
                              <img id="email" alt="email"/>
                          </a>
                      </li>
                  </ul>
              </section>
            <div class="about-box" id="skills">
              AVID FAN OF:
              <span id="skills-list"></span>
            </div>
            <!--<div class="about-box" id="interests">-->
              <!--ALSO INTO: -->
              <!--<span id="interests-list"></span>-->
            <!--</div>-->
          </div>
    </div>
    <audio autoplay="autoplay" src="/media/thedeep.mp3"></audio>
    <!--<script src="/scripts/build.js"></script>-->
  <!--</div>-->
  <div id="modal">
  </div>
  </div>
  <noscript> Your browser does not support JavaScript :( </noscript>
  </body>
</html>


