<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Lato:100" rel="stylesheet">
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/three.min.js"></script>
    <script src="/scripts/velocity.min.js"></script>
    <script src="/scripts/typed.min.js"></script>
    <!--<script src="/scripts/audioLoader.js"></script>-->
    <script src="/scripts/CanvasRenderer.js"></script>
    <script src="/scripts/Projector.js"></script>
    <script src="/scripts/square2.js"></script>
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <!--<div id="header">-->
    <div id="project-container">
    <button id="projects-button">PROJECTS</button>
      <div id="showProjects">
        <div>project placeholder</div>
        <div>project placeholder</div>
      </div>
    </div>
    <div id="about-container">
    <button id="about-button">ABOUT</button>
      <div id="showAbout">
        <div id="name"></div>
        <div id="information"></div>
        <div id="interests">
          I'm also into:
          <span id="interests-list"></span>
        </div>
      </div>
    </div>
    <!--</div>-->
    <audio src="/media/forgotwhy.mp3"></audio>
    <!--<script src="/scripts/build.js"></script>-->
  </body>
</html>
