<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,600,900|Lato:100,200,300,400,500" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,600,800" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/three.min.js"></script>
    <script src="/scripts/velocity.min.js"></script>
    <script src="/scripts/typed.min.js"></script>
    <script src="/scripts/CanvasRenderer.js"></script>
    <script src="/scripts/Projector.js"></script>
    <script src="/scripts/square.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <link rel="icon" type="image/png" href="/images/vagicon32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/images/favicon16.png" sizes="16x16">
      <meta name="theme-color" content="#ffffff">
    <script src="/scripts/app.js"></script>
  </head>
  <body>
  <div id="page-wrapper">
    <div id="project-container">
      <button id="projects-button">WORK</button>
          <div id="show-projects">
              <div class="project-box">
                  <img class="project-image ocean" src="/images/projects/ocean-of-trash.jpg" alt="OCEAN OF TRASH">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/audible-visuals.png" alt="AUDIBLE VISUALS">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image seasons" src="/images/projects/season-collages/seasons.jpg" alt="SEASON COLLAGES">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/vagina-vortex.jpg" alt="VAGINA VORTEX">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/meteorite-landings.png" alt="METEORITE LANDINGS">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/squarewave.png" alt="SQUARE WAVE">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image soundSketches" src="/images/projects/sound-sketches/dress.jpg" alt="SOUND SKETCHES">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/color-theory.png" alt="COLOR THEORY">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/geometric-tuneage.png" alt="GEOMETRIC TUNEAGE">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/shaders.png" alt="SHADERS">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/visualizer-experiments.png" alt="VISUALIZER EXPERIMENTS">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/wave-painting.png" alt="WAVE PAINTING">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image" src="/images/projects/birthday.png" alt="BIRTHDAY">
                  </img>
              </div>
              <div class="project-box">
                  <img class="project-image bike" src="/images/projects/bikestickers.png" alt="BIKE STICKERS">
                  </img>
              </div>
              <!--<div class="project-box">-->
                  <!--<img class="project-image" src="/images/projects/cameraless-concerts.png" alt="CAMERALESS CONCERTS">-->
                  <!--</img>-->
              <!--</div>-->
              <!--<div class="project-box">-->
                  <!--<img class="project-image" src="/images/projects/tic-tac-toe.png" alt="TIC TAC NOPE">-->
                  <!--</img>-->
              <!--</div>-->
              <!--<div class="project-box">-->
                  <!--<img class="project-image" src="/images/projects/beer-crawl.png" alt="BEER CRAWL">-->
                  <!--</img>-->
              <!--</div>-->
          </div>
    </div>
    <div id="about-container">
    <button id="about-button">SONIA BOLLER</button>
          <div id="show-about">
            <!--<div class="about-box" id="name">SONIA BOLLER</div>-->
            <div class="about-box" id="information"> artist / creative technologist based in brooklyn |
                <a id="resume" href="./media/Sonia_Boller_Resume_Dec_2018.pdf" download> cv </a> |
            </div>
            <div class="about-box" id="personal-statement">
                innovative & systematic engineer passionate about creating immersive visual & interactive experiences
                <!--<br/>-->
                <!--<a class="link" href="http://sfpc.io">sfpc</a> fall 2018 alumni-->
                <!--<br/>-->
                <!--<a class="link" href="https://dornsife.usc.edu/environmental-studies/">usc</a> 2015 alumni-->
            </div>
              <div class="about-box">
                  <a class="link" href="http://sfpc.io">sfpc</a> fall 2018 alumni
                  <br/>
                  <a class="link" href="https://generalassemb.ly/education/web-development-immersive">ga wdi</a> fall 2016 alumni
                  <br/>
                  <a class="link" href="https://dornsife.usc.edu/environmental-studies/">usc</a> 2015 alumni
              </div>
            <section class="about-box" id="social-media">
                  <ul>
                      <li>
                          <a href="https://github.com/soniaboller" target="_blank">
                              <img id="github" alt="github" src="./images/social-media/github-white.png"/>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/in/sboller" target="_blank">
                              <img id="linkedin" alt="linkedin" src="./images/social-media/linkedin-white.png"/>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.instagram.com/sboller/" target="_blank">
                              <img id="instagram" alt="instagram" src="./images/social-media/instagram-white.png"/>
                          </a>
                      </li>
                      <li>
                          <a href="mailto:soniaboller@gmail.com">
                              <img id="email" alt="email" src="./images/social-media/mail-white.png"/>
                          </a>
                      </li>
                      <li>
                          <a href="http://vsco.co/soniaboller/" target="_blank">
                              <img id="vsco" alt="vsco" src="./images/social-media/vsco-white.png"/>
                          </a>
                      </li>
                  </ul>
              </section>
            <div class="about-box" id="skills">
              interests:
              <span id="skills-list"></span>
            </div>
          </div>
    </div>
    <!--<audio autoplay="autoplay" src="media/forgotwhy.mp3"></audio>-->
      <audio src="media/sunset.mp3" loop></audio>
      <div id="play-button" title="Sunset - Imagined Herbal Flows">
          <i id="play" class="material-icons">play_arrow</i>
      </div>
      <div id="pause-button" title="Sunset - Imagined Herbal Flows">
          <i class="material-icons">pause</i>
      </div>
      <div id="modal">
        </div>
  </div>
  <noscript> Your browser does not support JavaScript :( </noscript>
  </body>
</html>


