body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  overflow: hidden;
  font-size: 16px;
  background-color: #000;
  color: #696969; }

div {
  margin: 0;
  padding: 0; }

img {
  width: 50%; }

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #ff00ff; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none;
  display: inline; }

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed; }

button {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 30px;
  color: #bbb;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: .25rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #555;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 500; }

button:hover {
  border: 1px solid #bbb; }

button:focus {
  outline: 0 !important; }

.button-clicked {
  color: #555;
  border: 1px solid #bbb; }

.button-clicked:hover {
  border: 1px solid #555; }

.button-clicked:focus {
  outline: 0; }

#about-container, #project-container {
  margin: 1%;
  z-index: 1;
  width: 50%;
  clear: both; }

#show-about, #show-projects {
  display: none;
  z-index: 100;
  clear: both;
  margin: 0;
  padding: 0;
  height: 90vh;
  overflow-y: auto; }

#project-container {
  position: relative;
  float: right; }

#show-projects {
  float: right;
  text-align: left;
  overflow-y: scroll;
  position: relative; }

.project-image {
  float: right;
  clear: both;
  position: relative;
  border: 1px solid #555;
  padding: 1%;
  margin: 1% 0 1% 1%; }

.project-image-hover {
  border: 1px solid #bbb; }

.project-box {
  float: right;
  clear: both; }

#projects-button {
  position: relative;
  float: right;
  clear: both; }

#about-container {
  position: fixed;
  float: left; }

.about-box {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #555;
  color: #bbb;
  font-weight: 300;
  width: 25vw;
  margin: 1% 1% 1% 0;
  padding: 2% 2% 2% 0;
  letter-spacing: 0.25rem;
  line-height: 2.5rem; }

.about-box-border {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #000;
  font-weight: 300;
  border-bottom: 1px solid #bbb; }

#show-about {
  float: left;
  width: 100%; }

#about-button {
  position: relative;
  float: left;
  clear: both; }

#interests, #skills {
  display: none; }

#social-media img {
  width: 15%;
  margin: 0 3%; }

#pause-button {
  width: 5%;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  padding: 1%;
  cursor: pointer; }

#modal {
  color: #696969;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  position: fixed;
  width: 60%;
  top: 8%;
  left: 20%;
  transform: scale(1.5);
  opacity: 0;
  pointer-events: none;
  z-index: 1000; }

#modal h4 {
  font-weight: 300;
  font-size: 1.75rem;
  letter-spacing: 0.5rem;
  margin: 2% 0; }

#modal img {
  width: 95%;
  opacity: 1; }

.modalOpen #page-wrapper {
  -webkit-filter: blur(4px) grayscale(50%);
  filter: blur(4px) grayscale(50%);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9); }

.modalOpen #modal {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  opacity: 0.99;
  pointer-events: auto; }

#page-wrapper, #modal {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

@media (max-width: 960px) {
  #project-container {
    position: fixed;
    float: right;
    right: 0;
    width: 60%;
    margin: 0;
    padding: 0; }
  #about-container {
    width: 41%;
    margin: 0;
    padding: 0; }
  img {
    width: 95%; }
  #social-media img {
    width: 15%;
    margin: 0 3%; }
  .project-image {
    border: none;
    border-bottom: 1px solid #555; }
  #modal {
    padding: 3%;
    background-color: black;
    width: 100%;
    left: 0;
    top: 23%; }
  .about-box {
    line-height: 2.25rem;
    font-size: 1rem;
    color: #bbb; }
  #show-about {
    background: #000;
    width: 100vw; }
  #show-projects {
    background: #000;
    width: 100vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  button {
    color: #fff;
    font-weight: 300;
    margin: 2%;
    border: 1px solid #fff; }
  button:hover {
    border: 1px solid #fff; }
  #project-container {
    position: fixed;
    float: right;
    right: 0;
    width: 60%;
    margin: 0;
    padding: 0; }
  #about-container {
    width: 40%;
    margin: 0;
    padding: 0; }
  img {
    width: 95%; }
  #social-media img {
    width: 15%;
    margin: 0 3%; }
  .project-image {
    border: none;
    border-bottom: 1px solid #555; }
  #modal {
    padding: 3%;
    background-color: black;
    width: 100%;
    left: 0;
    top: 18%; }
  .about-box {
    font-size: 0.9rem;
    width: 97vw;
    margin: 2%;
    overflow-x: hidden;
    text-align: center;
    color: #fff; }
  #show-about {
    background: #000;
    width: 100vw; }
  #show-projects {
    background: #000;
    width: 100vw; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  button {
    color: #fff;
    font-weight: 300;
    margin: 2%;
    border: 1px solid #fff; }
  button:hover {
    border: 1px solid #fff; }
  #project-container {
    position: fixed;
    float: right;
    right: 0;
    width: 60%;
    margin: 0;
    padding: 0; }
  #about-container {
    width: 40%;
    margin: 0;
    padding: 0; }
  img {
    border: none;
    width: 95%; }
  #social-media img {
    width: 15%;
    margin: 0 3%; }
  .project-image {
    border: none;
    border-bottom: 1px solid #555; }
  #modal {
    padding: 3%;
    background-color: black;
    width: 100%;
    left: 0;
    top: 18%; }
  .about-box {
    line-height: 3rem;
    font-size: 1rem;
    width: 97vw;
    margin: 2%;
    overflow-x: hidden;
    text-align: center;
    color: #fff; }
  #show-about {
    background: #000;
    width: 100vw; }
  #show-projects {
    background: #000;
    width: 100vw; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  button {
    color: #fff;
    font-weight: 300;
    margin: 2%;
    border: 1px solid #fff; }
  button:hover {
    border: 1px solid #fff; }
  #project-container {
    position: fixed;
    float: right;
    right: 0;
    width: 50%;
    margin: 0;
    padding: 0; }
  #about-container {
    width: 50%;
    margin: 0;
    padding: 0; }
  img {
    width: 95%; }
  #social-media img {
    width: 15%;
    margin: 0 3%; }
  .project-image {
    border: none;
    border-bottom: 1px solid #555;
    margin: 1% 1.5%; }
  #modal {
    padding: 3%;
    background-color: black;
    width: 100%;
    left: 0;
    top: 18%; }
  .about-box {
    line-height: 3.5rem;
    font-size: 1rem;
    margin: 2%;
    width: 97vw;
    overflow-x: hidden;
    text-align: center;
    color: #fff; }
  #show-about {
    background: #000;
    width: 100vw; }
  #show-projects {
    background: #000;
    width: 100vw; } }
